Repository nikolskiy/tlaplus-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, debug-statements, ruff, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: detect-secrets
        name: detect-secrets
        entry: uv run detect-secrets-hook --baseline .secrets.baseline
        language: system
        types: [text]

      - id: check-added-large-files
        name: Check for added large files
        entry: uv run check-added-large-files
        language: system
        types: [file]

      - id: check-yaml
        name: Check YAML
        entry: uv run check-yaml
        language: system
        types: [yaml]

      - id: check-toml
        name: Check TOML
        entry: uv run check-toml
        language: system
        types: [toml]

      - id: check-merge-conflict
        name: Check for merge conflicts
        entry: uv run check-merge-conflict
        language: system
        types: [text]

      - id: debug-statements
        name: Debug statements (python)
        entry: uv run debug-statement-hook
        language: system
        types: [python]

      - id: detect-private-key
        name: Detect private key
        entry: uv run detect-private-key
        language: system
        types: [text]

      - id: mixed-line-ending
        name: Mixed line ending
        entry: uv run mixed-line-ending
        language: system
        types: [text]

      - id: check-case-conflict
        name: Check case conflict
        entry: uv run check-case-conflict
        language: system
        types: [text]

      - id: ruff
        name: ruff
        entry: uv run ruff check --force-exclude
        language: system
        types: [python]
        require_serial: true

      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/

      - id: pytest
        name: pytest
        entry: uv run pytest
        language: system
        pass_filenames: false
        always_run: true

feat: add system CA certificate support via truststore
  CHANGELOG.md
  pyproject.toml
  src/tlaplus_cli/cli.py
  uv.lock
Due: check-toml, debug-statements, ruff, mypy

Fix ssl certs detection.
  src/tlaplus_cli/__init__.py
  src/tlaplus_cli/cli.py
Due: debug-statements, ruff, mypy

Add new release 0.3.1
  .github/workflows/release.yml
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-yaml, check-toml

Fix github tests.
  .github/workflows/test.yml
Due: check-yaml

Remove old docs.
  CHANGELOG.md
  docs/plan.md
  docs/scratch.md
Due: none

Add docs folder for implementation planning.
  docs/implementation/.gitignore
Due: none

feat: implement intelligent spec resolution and tlc --version
  CHANGELOG.md
  README.md
  pyproject.toml
  src/tlaplus_cli/run_tlc.py
  src/tlaplus_cli/tools_manager.py
  tests/test_java_module_naming.py
  tests/test_run_tlc.py
  tests/test_spec_resolution.py
  tests/test_tools_manager.py
Due: check-toml, debug-statements, ruff, mypy

feat: add project-aware TLA+ support and reorganize modules command
  CHANGELOG.md
  README.md
  src/tlaplus_cli/build_tlc_module.py
  src/tlaplus_cli/cli.py
  src/tlaplus_cli/project.py
  src/tlaplus_cli/run_tlc.py
  tests/test_build_tlc_module.py
  tests/test_java_module_naming.py
  tests/test_project.py
  tests/test_run_tlc.py
  tests/test_spec_resolution.py
Due: debug-statements, ruff, mypy

Release 0.3.2
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-toml

Fix missing config on some systems.
  CHANGELOG.md
  pyproject.toml
  src/tlaplus_cli/config.py
  src/tlaplus_cli/project.py
  src/tlaplus_cli/resources/__init__.py
  src/tlaplus_cli/run_tlc.py
  tests/test_build_tlc_module.py
  tests/test_project.py
  uv.lock
Due: check-toml, debug-statements, ruff, mypy

Add ability fetch tla2tools.jar version via url.
  CHANGELOG.md
  pyproject.toml
  src/tlaplus_cli/tools_manager.py
  src/tlaplus_cli/version_manager.py
  tests/test_tools_manager.py
  tests/test_version_manager.py
  uv.lock
Due: check-toml, debug-statements, ruff, mypy

Added initial spec based on existing code.
  spec/README.md
  spec/cli.cfg
  spec/cli.tla
Due: none

Simplifiy unchanged variable tracking in cli.tla spec.
  spec/cli.tla
Due: none

Improve spec readability.
  spec/cli.tla
Due: none

Match actions to code and cli command.
  spec/cli.tla
Due: none

feat: add persistent custom modules path support
  CHANGELOG.md
  README.md
  spec/cli.tla
  src/tlaplus_cli/build_tlc_module.py
  src/tlaplus_cli/cli.py
  src/tlaplus_cli/config.py
  src/tlaplus_cli/run_tlc.py
  src/tlaplus_cli/settings.py
  tests/test_build_modules_path.py
  tests/test_config.py
  tests/test_modules_path.py
  tests/test_tlc_modules_path.py
  tests/tlc/test_naming.py
  tests/tools/test_fetch_cache.py
  tests/tools/test_upgrade.py
  tests/version_manager/test_download.py
Due: debug-statements, ruff, mypy

Release 0.3.5
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-toml

feat: add modules lib and config management commands
  CHANGELOG.md
  README.md
  src/tlaplus_cli/build_tlc_module.py
  src/tlaplus_cli/cli.py
  src/tlaplus_cli/config_cli.py
  src/tlaplus_cli/settings.py
  tests/test_config_suite.py
  tests/test_modules_build_lib.py
  tests/test_modules_lib.py
  tests/test_modules_path.py
  tests/tlc/test_build_logic.py
Due: debug-statements, ruff, mypy

Add Bandit tool for linting.
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: check-yaml, check-toml

refactor: apply code review improvements and fix regressions
  docs/development.md
  docs/implementation/.gitignore
  docs/implementation/notes.md
  docs/implementation/plan.md
  docs/implementation/review.md
  src/tlaplus_cli/cache/github.py
  src/tlaplus_cli/cli.py
  src/tlaplus_cli/cmd/config/__init__.py
  src/tlaplus_cli/cmd/config/edit.py
  src/tlaplus_cli/cmd/fetch_cache/clear.py
  src/tlaplus_cli/cmd/modules/build.py
  src/tlaplus_cli/cmd/tlc.py
  src/tlaplus_cli/cmd/tools/dir.py
  src/tlaplus_cli/cmd/tools/install.py
  src/tlaplus_cli/cmd/tools/meta/sync.py
  src/tlaplus_cli/cmd/tools/pin.py
  src/tlaplus_cli/cmd/tools/uninstall.py
  src/tlaplus_cli/cmd/tools/upgrade.py
  src/tlaplus_cli/config/loader.py
  src/tlaplus_cli/java/inspector.py
  src/tlaplus_cli/tlc/compiler.py
  src/tlaplus_cli/tlc/runner.py
  src/tlaplus_cli/ui.py
  src/tlaplus_cli/versioning/api.py
  src/tlaplus_cli/versioning/downloader.py
  src/tlaplus_cli/versioning/metadata.py
  src/tlaplus_cli/versioning/paths.py
  src/tlaplus_cli/versioning/resolver.py
  tests/conftest.py
  tests/test_config.py
  tests/tlc/conftest.py
  tests/tlc/test_naming.py
  tests/tlc/test_tlc_integration.py
  tests/tools/test_fetch_cache.py
  tests/tools/test_install.py
  tests/tools/test_pin.py
  tests/tools/test_uninstall.py
  tests/tools/test_version_manager_url.py
  tests/version_manager/test_download.py
  tests/version_manager/test_metadata.py
Due: debug-statements, ruff, mypy

Cleanup docs.
  docs/implementation/notes.md
  docs/implementation/plan.md
  docs/implementation/review.md
Due: none

Cleanup
  docs/implementation/.gitignore
Due: none

Release 0.4.0
  pyproject.toml
  uv.lock
Due: check-toml

Fix versions list order.
  CHANGELOG.md
  src/tlaplus_cli/cmd/config/edit.py
  src/tlaplus_cli/cmd/modules/lib.py
  src/tlaplus_cli/cmd/modules/path.py
  src/tlaplus_cli/cmd/tools/install.py
  src/tlaplus_cli/cmd/tools/meta/sync.py
  src/tlaplus_cli/cmd/tools/pin.py
  src/tlaplus_cli/cmd/tools/uninstall.py
  src/tlaplus_cli/cmd/tools/upgrade.py
  src/tlaplus_cli/config/loader.py
  src/tlaplus_cli/versioning/resolver.py
  tests/test_config_suite.py
  tests/test_modules_build_lib.py
Due: debug-statements, ruff, mypy

Release 0.4.1
  pyproject.toml
  uv.lock
Due: check-toml

Fix custom build path resolution.
  src/tlaplus_cli/tlc/compiler.py
  tests/test_build_both.py
Due: debug-statements, ruff, mypy

Release 0.4.2
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-toml

Unify path resolution into a single component.
  CHANGELOG.md
  README.md
  docs/development.md
  docs/plans.md
  src/tlaplus_cli/cmd/modules/build.py
  src/tlaplus_cli/cmd/modules/path.py
  src/tlaplus_cli/cmd/tlc.py
  src/tlaplus_cli/cmd/tools/meta/sync.py
  src/tlaplus_cli/cmd/tools/uninstall.py
  src/tlaplus_cli/java/classpath.py
  src/tlaplus_cli/tlc/compiler.py
  src/tlaplus_cli/tlc/runner.py
  tests/java/__init__.py
  tests/java/test_classpath.py
  tests/test_build_both.py
  tests/test_modules_build_lib.py
  tests/test_modules_build_show_command.py
  tests/test_modules_path_resolved.py
  tests/test_tlc_show_command.py
Due: debug-statements, ruff, mypy

Added experimental TLC output display.
  .vscode/settings.json
  CHANGELOG.md
  src/tlaplus_cli/cli.py
  src/tlaplus_cli/cmd/modules/__init__.py
  src/tlaplus_cli/cmd/modules/install.py
  src/tlaplus_cli/cmd/tlc.py
  src/tlaplus_cli/config/schema.py
  src/tlaplus_cli/java/classpath.py
  src/tlaplus_cli/resources/default_config.yaml
  src/tlaplus_cli/tlc/codes.py
  src/tlaplus_cli/tlc/models.py
  src/tlaplus_cli/tlc/parser.py
  src/tlaplus_cli/tlc/runner.py
  src/tlaplus_cli/tlc/sany.py
  src/tlaplus_cli/tlc/values.py
  src/tlaplus_cli/ui.py
  src/tlaplus_cli/versioning/api.py
  src/tlaplus_cli/versioning/downloader.py
  src/tlaplus_cli/versioning/paths.py
  tests/spec/conftest.py
  tests/test_modules_install_community.py
  tests/test_tlc_modules_path.py
  tests/tlc/test_parser.py
  tests/tlc/test_sany.py
  tests/tlc/test_tlc_integration.py
  tests/tlc/test_values.py
  tests/tools/test_fetch_cache.py
Due: check-yaml, debug-statements, ruff, mypy

Release 0.5.0
  pyproject.toml
  uv.lock
Due: check-toml

Add initial version of formated output.
  pyproject.toml
  src/tlaplus_cli/cmd/tlc.py
  src/tlaplus_cli/config/schema.py
  src/tlaplus_cli/resources/default_config.yaml
  src/tlaplus_cli/tlc/formatter.py
  src/tlaplus_cli/tlc/models.py
  src/tlaplus_cli/tlc/parser.py
  src/tlaplus_cli/tlc/runner.py
  tests/cmd/__init__.py
  tests/cmd/test_tlc_rich.py
  tests/tlc/test_formatter.py
  tests/tlc/test_naming.py
  tests/tlc/test_parser.py
  tests/tlc/test_sany.py
  tests/tlc/test_tlc_integration.py
  tests/tlc/test_values.py
  uv.lock
Due: check-yaml, check-toml, debug-statements, ruff, mypy

Added improvment to cli info outputs.
  src/tlaplus_cli/cmd/tlc.py
  src/tlaplus_cli/tlc/formatter.py
  src/tlaplus_cli/tlc/runner.py
  tests/tlc/test_formatter.py
  tests/tlc/test_runner.py
Due: debug-statements, ruff, mypy

Fix TLC result display issues.
  src/tlaplus_cli/cmd/tlc.py
  src/tlaplus_cli/tlc/formatter.py
  src/tlaplus_cli/tlc/runner.py
  tests/tlc/test_formatter.py
Due: debug-statements, ruff, mypy

Release 0.5.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-toml

Add nix flake configuration so the project supports nix tools.
  README.md
  flake.nix
Due: none

Remove outdated spec folder.
  spec/README.md
  spec/cli.cfg
  spec/cli.tla
Due: none

feat(modules): overhaul modules subcommand and cache system
  CHANGELOG.md
  src/tlaplus_cli/cmd/modules/__init__.py
  src/tlaplus_cli/cmd/modules/add.py
  src/tlaplus_cli/cmd/modules/install.py
  src/tlaplus_cli/cmd/modules/lib.py
  src/tlaplus_cli/cmd/modules/list.py
  src/tlaplus_cli/cmd/modules/path.py
  src/tlaplus_cli/cmd/modules/remove.py
  src/tlaplus_cli/java/classpath.py
  tests/cmd/test_modules.py
  tests/java/test_classpath.py
  tests/spec/test_classpath.py
  tests/test_modules_install_community.py
  tests/test_modules_lib.py
  tests/test_modules_path.py
  tests/test_modules_path_resolved.py
Due: debug-statements, ruff, mypy

Change how TLC output is displayed.
  src/tlaplus_cli/cmd/modules/add.py
  src/tlaplus_cli/cmd/tlc.py
  src/tlaplus_cli/tlc/components.py
  src/tlaplus_cli/tlc/formatter.py
  tests/cmd/test_modules.py
  tests/tlc/test_formatter.py
Due: debug-statements, ruff, mypy
