Repository nikolskiy/tlaplus-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, debug-statements, ruff, mypy

check-yaml:
  name: Check YAML
  entry: uv run check-yaml
  language: system

check-toml:
  name: Check TOML
  entry: uv run check-toml
  language: system

debug-statements:
  name: Debug statements (python)
  entry: uv run debug-statement-hook
  language: system

ruff:
  name: ruff
  entry: uv run ruff check --force-exclude
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  require_serial: true

Add tests and lint to github actions.
  .github/workflows/test.yml
Due: check-yaml

Exclude tests from mypy checks.
  pyproject.toml
Due: check-toml

Update README info.
  README.md
  docs/todo.md
Due: none

Fixed version reporting and README docs.
  README.md
  pyproject.toml
  tests/test_cli.py
  tla/cli.py
  uv.lock
Due: check-toml, debug-statements, ruff, mypy

Add new todo set.
  docs/todo.md
Due: none

Add meta files for PyPi release.
  CHANGELOG.md
  MANIFEST.in
  README.md
  docs/todo.md
  pyproject.toml
  tla/py.typed
  uv.lock
Due: check-toml

Update changelog.
  CHANGELOG.md
Due: none

Add release to PyPI workflow.
  .github/workflows/release.yml
  docs/todo.md
Due: check-yaml

Release v0.1.4
  pyproject.toml
  uv.lock
Due: check-toml

Release v0.1.5
  .github/workflows/release.yml
  pyproject.toml
  uv.lock
Due: check-yaml, check-toml

Release v0.1.6
  CHANGELOG.md
  pyproject.toml
  scripts/release.sh
  uv.lock
Due: check-toml

Release v0.1.7
  .gitignore
  .secrets.baseline
  pyproject.toml
  scripts/release.sh
  uv.lock
Due: check-toml

Point to PyPI in installation instructions.
  README.md
  docs/todo.md
Due: none

update module-how-to.md doc to reflect new project changes.
  docs/module-how-to.md
Due: none

Add needs verification sections.
  docs/module-how-to.md
Due: none

Add module naming tests.
  docs/module-how-to.md
  tests/fixtures/naming_dynamic/modules/tlc2/overrides/TestModule.java
  tests/fixtures/naming_dynamic/spec/TestModule.tla
  tests/fixtures/naming_dynamic/spec/test_spec.cfg
  tests/fixtures/naming_dynamic/spec/test_spec.tla
  tests/fixtures/naming_fixed/modules/tlc2/overrides/TLCOverrides.java
  tests/fixtures/naming_fixed/spec/TestModule.tla
  tests/fixtures/naming_fixed/spec/test_spec.cfg
  tests/fixtures/naming_fixed/spec/test_spec.tla
  tests/test_cli.py
  tests/test_java_module_naming.py
Due: debug-statements, ruff

Update docs with verified module naming convention.
  docs/module-how-to.md
Due: none

Docs improvements.
  docs/module-how-to.md
Due: none

Add "tla tlc --version" option.
  tests/test_run_tlc.py
  tla/run_tlc.py
Due: debug-statements, ruff, mypy

Update docs.
  docs/quick-module-overview.md
  docs/thread-safty-note.md
Due: none

Fix vscode interpreter setting.
  .vscode/settings.json
Due: none

Improve tests.
  .vscode/settings.json
  tests/test_build_tlc_module.py
  tests/test_check_java.py
  tests/test_download_tla2tools.py
  tests/test_java_module_naming.py
  tests/test_run_tlc.py
  uv.lock
Due: debug-statements, ruff

Improve project structure.
  MANIFEST.in
  pyproject.toml
  src/tlaplus_cli/__init__.py
  src/tlaplus_cli/build_tlc_module.py
  src/tlaplus_cli/check_java.py
  src/tlaplus_cli/cli.py
  src/tlaplus_cli/config.py
  src/tlaplus_cli/download_tla2tools.py
  src/tlaplus_cli/py.typed
  src/tlaplus_cli/resources/default_config.yaml
  src/tlaplus_cli/run_tlc.py
  src/tlaplus_cli/settings.py
  tests/conftest.py
  tests/test_build_tlc_module.py
  tests/test_check_java.py
  tests/test_cli.py
  tests/test_download_tla2tools.py
  tests/test_java_module_naming.py
  tests/test_run_tlc.py
Due: check-yaml, check-toml, debug-statements, ruff, mypy

Update changelog and improve release process.
  CHANGELOG.md
  pyproject.toml
  scripts/release.sh
  uv.lock
Due: check-toml

Add unreleased section to changelog and add some plans.
  CHANGELOG.md
  docs/plan.md
Due: none

Initial plan to manage tlc versions was added.
  docs/scratch.md
Due: none

Add implementation plan.
  docs/scratch.md
  docs/tlc-version-manager-plan.md
Due: none

Add tlc version management.
  .secrets.baseline
  CHANGELOG.md
  README.md
  docs/tlc-version-manager-plan.md
  pyproject.toml
  src/tlaplus_cli/build_tlc_module.py
  src/tlaplus_cli/cli.py
  src/tlaplus_cli/download_tla2tools.py
  src/tlaplus_cli/resources/default_config.yaml
  src/tlaplus_cli/run_tlc.py
  src/tlaplus_cli/settings.py
  src/tlaplus_cli/tlc_manager.py
  src/tlaplus_cli/version_manager.py
  tests/conftest.py
  tests/test_download_tla2tools.py
  tests/test_java_module_naming.py
  tests/test_run_tlc.py
  tests/test_tlc_manager.py
  uv.lock
Due: check-yaml, check-toml, debug-statements, ruff, mypy

Note missing functionality.
  .github/workflows/test.yml
  README.md
  docs/plan.md
  docs/scratch.md
  docs/tlc-version-manager-plan.md
Due: check-yaml

Add metadata for each downoaded version.
  .secrets.baseline
  docs/scratch.md
  src/tlaplus_cli/tlc_manager.py
  src/tlaplus_cli/version_manager.py
  tests/fixtures/releases.json
  tests/fixtures/tags.json
  tests/test_tlc_manager.py
  tests/test_version_manager.py
Due: debug-statements, ruff, mypy

Docs update.
  CHANGELOG.md
  docs/development.md
  docs/scratch.md
Due: none

Add dev guidelines doc.
  docs/development.md
Due: none

Replace "find" name with more appropriate "path".
  CHANGELOG.md
  README.md
  docs/scratch.md
  src/tlaplus_cli/tlc_manager.py
  src/tlaplus_cli/version_manager.py
  tests/test_tlc_manager.py
Due: debug-statements, ruff, mypy

Update release verison in changelog.
  CHANGELOG.md
Due: none

Release 0.2.1
  .github/workflows/release.yml
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-yaml, check-toml

Fix pin functionality.
  CHANGELOG.md
  README.md
  src/tlaplus_cli/tlc_manager.py
  src/tlaplus_cli/version_manager.py
  tests/test_tlc_manager.py
  tests/test_version_manager.py
Due: debug-statements, ruff, mypy

feat: enhance list, upgrade, and uninstall commands with interactive logic and improved aesthetics
  CHANGELOG.md
  README.md
  docs/plan.md
  docs/scratch.md
  src/tlaplus_cli/tlc_manager.py
  src/tlaplus_cli/version_manager.py
  tests/test_tlc_manager.py
  tests/test_version_manager.py
Due: debug-statements, ruff, mypy

Remove old docs.
  docs/plan.md
  docs/scratch.md
Due: none

refactor: rename 'tlc' subcommand group to 'tools'
  CHANGELOG.md
  README.md
  docs/development.md
  docs/module-how-to.md
  docs/plan.md
  docs/quick-module-overview.md
  src/tlaplus_cli/cli.py
  src/tlaplus_cli/run_tlc.py
  src/tlaplus_cli/tools_manager.py
  src/tlaplus_cli/version_manager.py
  tests/test_run_tlc.py
  tests/test_tools_manager.py
Due: debug-statements, ruff, mypy

refactor: rename 'run' command to 'tlc' and bump version to 0.3.0
  CHANGELOG.md
  README.md
  docs/module-how-to.md
  docs/plan.md
  docs/quick-module-overview.md
  pyproject.toml
  src/tlaplus_cli/cli.py
  src/tlaplus_cli/tools_manager.py
  tests/test_java_module_naming.py
  tests/test_run_tlc.py
  uv.lock
Due: check-toml, debug-statements, ruff, mypy

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-toml: any of: \.toml$
  debug-statements: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$, but not: ^tests/
