Repository nikolskiy/tlaplus-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, debug-statements, ruff, mypy

check-yaml:
  name: Check YAML
  entry: uv run check-yaml
  language: system

check-toml:
  name: Check TOML
  entry: uv run check-toml
  language: system

debug-statements:
  name: Debug statements (python)
  entry: uv run debug-statement-hook
  language: system

ruff:
  name: ruff
  entry: uv run ruff check --force-exclude
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  require_serial: true

Remove "tla modules build".
  src/tlaplus_cli/cmd/modules/__init__.py
  src/tlaplus_cli/cmd/modules/build.py
  src/tlaplus_cli/tlc/compiler.py
  tests/test_build_both.py
  tests/test_build_modules_path.py
  tests/test_modules_build_lib.py
  tests/test_modules_build_show_command.py
  tests/tlc/conftest.py
  tests/tlc/test_build_integration.py
  tests/tlc/test_build_logic.py
  tests/tlc/test_naming.py
  tests/tlc/test_tlc_integration.py
Due: debug-statements, ruff, mypy

WIP add multiple java module sets.
  .vscode/settings.json
  src/tlaplus_cli/cmd/tlc.py
  src/tlaplus_cli/java/classpath.py
  src/tlaplus_cli/tlc/runner.py
  tests/fixtures/community_modules/spec/SequencesExtTest.cfg
  tests/fixtures/community_modules/spec/SequencesExtTest.tla
  tests/tlc/test_community_modules.py
  tests/tlc/test_raw.py
Due: debug-statements, ruff, mypy

Support multiple added module sets.
  docs/module-how-to.md
  src/tlaplus_cli/cmd/modules/add.py
  src/tlaplus_cli/tlc/runner.py
  tests/tlc/conftest.py
  tests/tlc/test_naming.py
Due: debug-statements, ruff, mypy

Add docs improvements.
  docs/development-guidelines.md
  docs/examples/module-set-a/modules/ModuleAUtils.tla
  docs/examples/module-set-a/modules/tlc2/overrides/ModuleAOverrides.java
  docs/examples/module-set-b/modules/ModuleBUtils.tla
  docs/examples/module-set-b/modules/tlc2/overrides/ModuleBOverrides.java
  docs/examples/spec/test_both.cfg
  docs/examples/spec/test_both.tla
  docs/module-how-to.md
Due: none

Add sequences-ext example to docs and tests.
  .pre-commit-config.yaml
  docs/examples/sequences-ext/README.md
  docs/examples/sequences-ext/lib/commons-lang3-3.12.0.jar
  docs/examples/sequences-ext/lib/commons-lang3-LICENSE
  docs/examples/sequences-ext/modules/FiniteSetsExt.tla
  docs/examples/sequences-ext/modules/Folds.tla
  docs/examples/sequences-ext/modules/Functions.tla
  docs/examples/sequences-ext/modules/SequencesExt.tla
  docs/examples/sequences-ext/modules/tlc2/overrides/FiniteSetsExt.java
  docs/examples/sequences-ext/modules/tlc2/overrides/Functions.java
  docs/examples/sequences-ext/modules/tlc2/overrides/SequencesExt.java
  docs/examples/sequences-ext/modules/tlc2/overrides/TLCOverrides.java
  docs/examples/spec/SequencesExtTest.cfg
  docs/examples/spec/SequencesExtTest.tla
  tests/integration/test_community_modules.py
Due: check-yaml, debug-statements, ruff

Add queue example to docs and tests.
  docs/examples/QueueModule/modules/QueueUtils.tla
  docs/examples/QueueModule/modules/tlc2/overrides/QueueOverrides.java
  docs/examples/spec/queue.cfg
  docs/examples/spec/queue.tla
  tests/integration/conftest.py
  tests/integration/test_tlc_integration.py
Due: debug-statements, ruff

Update documentation for java modules.
  docs/development/guidelines.md
  docs/development/plans.md
  docs/implementation/.gitignore
  docs/java-modules-for-tlc/README.md
  docs/java-modules-for-tlc/how-to-manage-modules-using-the-cli-tool.md
  docs/java-modules-for-tlc/how-to-manually-manage-modules.md
  docs/java-modules-for-tlc/thread-safty-note.md
  docs/quick-module-overview.md
Due: none

move docs about managing tla2tools to a separate file.
  README.md
  docs/installation/nix.md
  docs/installation/uv-tool.md
  docs/managing-tlaplus-tools/managing-tla2tools.md
Due: none

Update docs.
  README.md
  docs/development/plans.md
  docs/managing-tlaplus-tools/managing-tla2tools.md
  docs/tlc/tlc.md
Due: none

Add custom java modules section to the featurs section.
  README.md
Due: none

docs(changelog): update CHANGELOG.md
  CHANGELOG.md
Due: none

Release: 0.7.0
  pyproject.toml
  uv.lock
Due: check-toml

Simplify docs and keep only important parts in README.md
  README.md
  docs/development/guidelines.md
  docs/development/plans.md
  docs/installation/nix.md
  docs/installation/uv-tool.md
  docs/java-modules-for-tlc/README.md
  docs/java-modules-for-tlc/how-to-manage-modules-using-the-cli-tool.md
  docs/java-modules-for-tlc/how-to-manually-manage-modules.md
  docs/java-modules-for-tlc/thread-safty-note.md
  docs/managing-tlaplus-tools/managing-tla2tools.md
  docs/tlc/tlc.md
Due: none

feat(versioning): add git commit hash to tla --version and fix tla tools list help
  CHANGELOG.md
  src/tlaplus_cli/cli.py
  src/tlaplus_cli/cmd/tools/list.py
  src/tlaplus_cli/versioning/__init__.py
  src/tlaplus_cli/versioning/app_version.py
  tests/unit/test_cli.py
  tests/unit/tools/test_list.py
  tests/unit/version_manager/test_app_version.py
Due: debug-statements, ruff, mypy

feat(tlc): isolate TLC run state artifacts using metadir and support cache purging
  CHANGELOG.md
  src/tlaplus_cli/cmd/modules/add.py
  src/tlaplus_cli/cmd/modules/remove.py
  src/tlaplus_cli/cmd/tlc.py
  src/tlaplus_cli/tlc/run_cache.py
  src/tlaplus_cli/tlc/runner.py
  src/tlaplus_cli/versioning/paths.py
  tests/unit/cmd/test_tlc_cmd.py
  tests/unit/tlc/test_run_cache.py
  tests/unit/tlc/test_runner.py
Due: debug-statements, ruff, mypy

feat(tlc): support custom specification configuration files via --cfg option
  CHANGELOG.md
  src/tlaplus_cli/cmd/tlc.py
  src/tlaplus_cli/tlc/runner.py
  tests/unit/test_tlc_show_command.py
  tests/unit/tlc/test_runner.py
Due: debug-statements, ruff, mypy

Release: 0.8.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-toml

fix(tests): strip ANSI escape sequences in CLI help coverage assertion
  tests/unit/cmd/test_tlc_cmd.py
Due: debug-statements, ruff

docs(changelog): add 0.8.1 fix entry for CI help test assertions
  CHANGELOG.md
Due: none

Release: 0.8.1
  pyproject.toml
  uv.lock
Due: check-toml

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-toml: any of: \.toml$
  debug-statements: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$, but not: ^tests/
